body {
    color: white;
    background: black;
    margin: 3px;
    font-family: fantasy;
    margin-bottom: 50px;
}

header{
  border-bottom: solid 2px rgb(245, 36, 36);
  padding: 40px;
}

section{
background: black;
padding-bottom: 80px ;
display: flex;
justify-content: center;
}
 
h1 {
  font-size: 35px;
}
 
p {
  font-size: 25px;
}

.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
  padding-left: 30px;
  padding-right: 20px;
  margin-top: 60px;
}

.categoria-videos img {
  opacity: 0.5;
  height: 200px;
}

.categoria-videos img:hover {
  opacity: 1.0;
  border: 10px solid green;
}

.categoria h2 {
  color: rgb(16, 156, 300);
}